/*RESET*/

* {
  margin:0;
  padding:0;
  font-family: sans-serif;
  color:black;
  box-sizing: border-box;
}
body{
  background-color: black;
}

#calc {
    width: 350px;
    height: auto;
    padding: 25px;
    margin: 25px auto;
    background: #f2f2f2;
    border-radius: 10px;

}

#screen {
  border: 5px solid black;
  background-color: white;
  margin: 5px;
  border-radius:3px;
  width: 294px;
  height: 40px;
  text-align: right;
  line-height: 40px;
}

#screen1 {
  float:left;
  padding-right:2px;
  width: 283px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  text-align: right;
}

#screen2 {
  float: left;
  width: 285px;
  height: 10px;
  line-height: 10px;
  font-size: 10px;
  text-align: left;
}

.buttons {overflow:hidden;}

.buttons span {
  float: left;
  width:66px;
  height:30px;
  line-height: 30px;
  background-color: #DFDAD9;
  border:1px solid black;
  border-radius: 3px;
  margin: 5px;
  text-align: center;

}

span.op{margin-right: 0px;}

#c{margin-right: 0px;}

#equals {
  width:293px;
  margin-right: 0px;
}

.buttons span:hover {
	background: #cccccc;
	color: white;
  cursor: crosshair;
}
